/* General settings */
 
* {
    font-family: "Gill Sans", sans-serif;
    transition: all .07s ease-out;
    outline-color: transparent;
    outline-style: double;
    background-color: transparent;
}

button, .input, .titlebar, button image, entry, notebook {
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
    text-shadow: none;
    box-shadow: none;
    border: none;
} 


.dialog_auth {
    background: #d6f0ff;
    background-color: #d6f0ff;
    border-radius: 0 0 15px 15px;
}

headerbar {
    min-height: 60px;
    background: #157ce1;
}
headerbar box label {
	font-size: 24px;
	font-weight: 600;
    background-color: transparent;
	color: white; 
}
dialog headerbar {
    background: #157ce1;
    background: linear-gradient(180deg,#71b7fd 0%,  #157ce1 100%);
}

.dialog_auth entry {
    caret-color: #53565A;
    color: #53565A;
	box-shadow: none;
    font-size: 15px;
    font-weight: 400;
	border-radius: 15px;
    padding: 1px 10px;
    background:white;
}

.notebook_item {
    background: #d6f0ff;
}
.notebook_item label {
    font-weight: 400;
    font-size: 15px;
    background: #d6f0ff;
}
.dialog_notebook {
    background: #d6f0ff;
}
.dialog_notebook header, stack, tabs {
	padding: 0;
    margin: 0;
    border: none;
    background: #d6f0ff;
}

.dialog_notebook tab {
    background: #d6f0ff;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 30px;
    box-shadow: none;
    outline: none;
}

.dialog_notebook tab label {
    font-weight: 600;
    font-size: 20px;
    background: #d6f0ff;
    color:#8895a3;
}
.dialog_notebook tab:hover label {
    text-shadow: 5px 5px 5px grey;
    color: rgba(136,149,163,.8);
    background: #d6f0ff;
}

.dialog_notebook tab:checked {
    box-shadow: none;
	box-shadow: 0 -3px #157ce1 inset;
}
.dialog_notebook tab:checked label {
    color: #157ce1;
}

.dialog-action-area {
    margin-bottom: 30px;
    margin-top: 15px;
}
button {
    background-image: none;
}
button label {
    box-shadow: none;
}

.dialog-action-area button {
    background-color: #3390ec;
    background: linear-gradient(180deg,#71b7fd 0%,  #157ce1 100%);
    box-shadow: 1px 1px 5px grey;
    padding: 12px 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.dialog-action-area button:first-child {
    margin-right: 5px;
}
.dialog-action-area button:last-child {
    margin-left: 5px;
}
.dialog-action-area button:hover {
    background-color: #157ce1;
    box-shadow: 10px 10px 5px grey;
}
